@{
    ViewBag.Title = "Контакты";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h2>Контакты</h2>

<address>
    Уральский Федеральный Университет<br />
    Екатеринбург, Российская Федерация<br />
    ул. Мира 19<br />
    <abbr title="Телефон:">Т:</abbr>
    +7 (343) 375-44-44
</address>

<address>
    <strong>Сайт УРФУ: http://urfu.ru/ru/ </strong> 
</address>