@{
    ViewBag.Title = "Об УРФУ";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h2>Информация об УРФУ</h2>

<p>
    <b>НАПРАВЛЕНИЯ ПОДГОТОВКИ:</b>
</p>
<p>
    <b>Вся инфомация по ссылке:</b>
</p>
<p class="align-justify"> http://abiturient.urfu.ru/applicant/directions/ </p>
