@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>УрФУ</h1>
    <p class="lead">Уральский Федеральный Университет</p>
    <p><a href="http://urfu.ru/ru/" class="btn btn-primary btn-large">Читать подробнее &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Абитуриентам</h2>
        <p>
           Всяческая и разнообразная информация для абитуриентов.
        </p>
        <p><a class="btn btn-default" href="http://urfu.ru/ru/applicant/">Читать подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Направления подготовки</h2>
        <p>
            Информация об институтах и направлениях.
        </p>
        <p><a class="btn btn-default" href="http://abiturient.urfu.ru/applicant/directions/">Читать подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>URFU History</h2>
        <p>
            Прочитать про историю университета можно здесь.
        </p>
        <p><a class="btn btn-default" href="http://urfu.ru/ru/about/">Читать подробнее &raquo;</a></p>
    </div>
</div>